nodejs/
/jxcore/
test.o
temp/
*.db
*.opendb
bin/
obj/
x64/
x86/
*.filters
Debug/
Release/
.vs/
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb
current.vcxproj
current.sln
winproj/test_app/test.cpp
out/
*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build/
.gradle
samples/android/libs
samples/android/JNI_JXCORE/libs
samples/android/JNI_JXCORE/bin

# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
.settings/
# Gradle builds
/build
